@font-face{
    font-family: 'Raleway';
    src: url('police/Raleway-Regular.ttf') format('truetype');
    
}

@font-face{
    font-family: 'Raleway Bold';
    src: url('police/Raleway-Bold.ttf') format('truetype');
    
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'raleway', sans-serif;
}

h1{
    font-size: 32px;
    font-family: 'Raleway Bold';
    margin-bottom: 20px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 26px;
    font-family: 'Raleway Bold';
}

h4{
    font-family: 'Raleway Bold';
    font-size: 24px;
    margin-bottom: 20px;
}

main p{
    font-size: 22px;
}


/* -----------l'entête de la page  Header----------*/



#logo {
    width: 150px;
    height: auto;
    position: absolute;
    left: 60px;
    top: 18px;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    margin: 130px 0px 40px 0px;
}

header li{
    list-style: none;
    text-decoration: none;
    padding-bottom: 15px;
}

header a{
    color: #0065FC;
}    

#sinscrire {
    font-family: 'Raleway Bold';
    font-size: 22px;
    position: absolute;
    right: 70px;
    top: 40px;         
}

.hebergements,
.activites {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
}

header nav .hebergements:hover,
header nav .activites:hover {
	border-bottom: 3px solid #0065FC;
	color: black;
}

header nav .hebergements:focus,
header nav .activites:focus{
    color: #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
}




                    /*--------- main : le corp de la page-------------*/



/*barre de recherche----search bar*/

main article{
    padding: 0px 40px;
}

article h1{
    margin-bottom: 30px;
}

.search {
    width: 100%;
    display: flex;
    padding: 50px 0px;;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid #F2F2F2;
    padding: 0px 0px 0px 10px;
    font-size: 24px;
    font-family: 'Raleway Bold';
}
  
.searchTerm:focus{
    color: black;
    border: 3px solid #F2F2F2;
}
  
.searchButton {
    min-width: 70px;
    height: 70px;
    border: 1px solid #0065FC;
    background: #0065FC;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size: 25px;
    margin-left: -20px;
    cursor: pointer;
}

.positionButton {
    min-width: 70px;
    height: 70px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    text-align: center;
    color: black;
    border-radius: 15px 0 0 15px;
    font-size: 25px;
    cursor: pointer;
}
  
  /*les filtres de recherche*/

.filtres{
    width: 310px;
    /*width: auto;*/
    height: 70px;
    border: 4px #F2F2F2 solid;
    border-radius: 60px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.filtres:hover{
    box-shadow: 0px 0px 10px #0065FC;
}

.filtres:active{
    box-shadow: 0px 0px 10px #0065FC;
}

main .li{
    display: flex;
    justify-items: center;
}
  
.circle-icon {
     
    color: #0065FC;
    font-size: 30px;
    background: #DEEBFF;
    border-radius: 100%;
    height: 70px;
    min-width: 70px;
    position: absolute;
    top: -4px;
    left: -4px;

    transition: all 1s  ;
    }
.circle-icon:active, .circle-icon:hover{
    box-shadow: 0px 0px 10px #0065FC;

    transform: translate(240px, 0px);
}
  
main .fa, main .fas{
    display: flex;
    justify-content: center;
    align-items: center;   
}




main .nav_filtres{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 10px 0px 20px 0px;     
}

main nav .li{
    margin: 10px 10px;
}

span{
    padding: 0px 20px 0px 80px;
    font-size: 22px;
    font-family: 'Raleway Bold';
}

span:hover{
    color: #0065FC;
}
aside{
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.circle-info{
    color: #0065FC;
    font-size: 18px;
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    height: 40px;
    min-width: 40px;
    margin-right: 10px;
}
 /*les résultats de recherche*/

        /*--------------les plus populaires-------------*/

.les_plus_populaires{
    background-color: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 40px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.lespluspopulaires_arrow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 40px;
}

.element_les_plus_populaires{
    border-radius: 35px;
    border: 10px solid white;
    background: white;
    margin: 0px 0px 30px 0px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    height: 350px;
    position: relative;
   
}
 
.photo_element_les_plus_populaires{
    border-radius: 25px 0px 0px 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 40%;
}  

.description_les_plus_populaires{
    padding: 15px;
    width: 60%;
}   

.all_stars{
    display: flex;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
}

.blue-star{
    color: #0065FC;
    padding-top: 15px;
}

.grey-star{
    color: #F2F2F2;
    padding-top: 15px;
}

        /*--------------Hébergements à Marseille----------------*/

.hebergements_a_marseille{
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
   
}

.titre_hebergements_a_marseille{
    margin-bottom: 20px;
}

.element_hebergements_a_marseille{
    min-height: 420px;
    border-radius: 35px;
    border: 10px solid white;
    background: white;
    margin: 15px 0px;
    box-shadow: -5px 12px 20px grey;
        
}                           

.photo_element_hebergements_a_marseille{
    border-radius: 35px 35px 0px 0px;
    max-height: 250px;
    min-height: 250px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description_hebergements_a_marseille{
    
    padding: 15px 0px 0px 15px;
}

.all_stars_hebergements{
    display: flex;
    font-size: 20px;
    padding-top: 30px;
}

.afficher_plus{
    margin: 40px 0px 0px 0px
}


/*------------Activités à Marseille----------------*/

.activites_a_marseille{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 60px 30px;
}

.titre_activites_a_marseille{
    margin-bottom: 20px;
}

.element_activites_a_marseille{
    border-radius: 35px;
    background: white;
    box-shadow: -5px 12px 20px grey;
    margin: 15px 0px;
    min-height: 420px;
}

.photo_element_activites_a_marseille{
    border-radius: 35px 35px 0px 0px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}    

.description_activites_a_marseille{
    padding: 40px 0px 0px 20px;
}

            /*--------- Pied de la page Footer -----------*/

            
Footer{
    background-color: #F2F2F2;
    padding: 70px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

footer p{
    font-size: 20px;
}

footer li{
    margin-bottom: 10px;
}

.a_propos{
    width: auto;
    margin-bottom: 50px;
}

.nos_hebergements{
    width: auto;
    margin-bottom: 50px;    
}

.assistance{
    width: auto;
    margin-bottom: 50px;
}
