@font-face{
    font-family: 'Raleway';
    src: url('police/Raleway-Regular.ttf') format('truetype');
    
}

@font-face{
    font-family: 'Raleway Bold';
    src: url('police/Raleway-Bold.ttf') format('truetype');
    
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'raleway', sans-serif;
}

h1{
    font-size: 34px;
    font-family: 'Raleway Bold';
    margin: 20px 0px 30px 0px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 26px;
    font-family: 'Raleway Bold';
}

h4{
    font-family: 'Raleway Bold';
    font-size: 24px;
    margin-bottom: 20px;
}

main p{
    font-size: 22px;
    padding-bottom: 4px;
}



/* -----------l'entête de la page  Header----------*/



#logo {
    width: 150px;
    height: auto;
    padding: 0px 0px 15px 10px;
    }

#logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



header ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    
}

header li{
    list-style: none;
    text-decoration: none;
    padding-bottom: 20px;
    display: block;
}

header a{
    color: #0065FC;
}    

#sinscrire {
    
    font-family: 'Raleway Bold';
    font-size: 22px;
    width: calc(100% - 150px);
    padding: 0px 15px 0px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.hebergements,
.activites {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
    margin: 20px 0px 0px 0px;
}



header nav .hebergements:hover,
header nav .activites:hover {
	border-bottom: 3px solid #0065FC;
	color: black;
}

header nav .hebergements:focus,
header nav .activites:focus{
    color: #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
}




                    /*--------- main : le corp de la page-------------*/



/*barre de recherche----search bar*/

main article{
    padding: 0px 40px;
}

article h1{
    margin-bottom: 30px;
}

.search {
    width: 100%;
    display: flex;
    padding: 50px 0px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #F2F2F2;
    padding: 0px 0px 0px 10px;
    font-size: 24px;
    font-family: 'Raleway Bold';
}
.searchTerm::placeholder {
    color: black;
}
.searchTerm:focus{
    color: black;
    border: 3px solid #F2F2F2;
}
  
.searchButton {
    min-width: 70px;
    height: 70px;
    border: 1px solid #0065FC;
    background: #0065FC;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size: 25px;
    margin-left: -20px;
    cursor: pointer;
}
.searchButton span{
    display: none;
}


.positionButton {
    min-width: 70px;
    height: 70px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    text-align: center;
    color: black;
    border-radius: 15px 0px 0px 15px;
    font-size: 25px;
    cursor: pointer;
}
  
  /*les filtres de recherche*/

.filtres{
    width: 310px;
    /*width: auto;*/
    height: 70px;
    border: 4px #F2F2F2 solid;
    border-radius: 60px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.filtres:hover{
    box-shadow: 0px 0px 10px #0065FC;
}

.filtres:active{
    box-shadow: 0px 0px 10px #0065FC;
}

main .li{
    display: flex;
    justify-items: center;
}
  
.circle-icon {
     
    color: #0065FC;
    font-size: 30px;
    background: #DEEBFF;
    border-radius: 100%;
    height: 70px;
    min-width: 70px;
    position: absolute;
    top: -4px;
    left: -4px;

    transition: all 1s;
    }
.circle-icon:active, .circle-icon:hover{
    box-shadow: 0px 0px 10px #0065FC;

    transform: translate(240px, 0px);
}
  
main .fa, main .fas{
    display: flex;
    justify-content: center;
    align-items: center;   
}




main .nav_filtres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;     
}

main nav .li{
    margin: 10px 10px;
}

.bloc_filtres span{
    padding: 0px 20px 0px 80px;
    font-size: 22px;
    font-family: 'Raleway Bold';
}

span:hover{
    color: #0065FC;
}
aside{
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.circle-info{
    color: #0065FC;
    font-size: 18px;
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    height: 40px;
    min-width: 40px;
    margin-right: 10px;
}
 /*les résultats de recherche*/

        /*--------------les plus populaires-------------*/

.les_plus_populaires{
    background-color: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 40px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.lespluspopulaires_arrow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 40px;
}

.element_les_plus_populaires{
    border-radius: 35px;
    border: 7px solid white;
    background: white;
    margin: 0px 0px 30px 0px;
    box-shadow: 0px 0px 16px 1px #cececedd;
    display: flex;
    height: 200px;
    position: relative;
   
}
 
.photo_element_les_plus_populaires{
    border-radius: 30px 0px 0px 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 40%;
}  

.description_les_plus_populaires{
    padding: 10px 10px 10px 30px;
    width: 60%;
}   

.all_stars{
    display: flex;
    font-size: 18px;
    position: absolute;
    bottom: 19px;
}

.blue-star{
    color: #0065FC;
    padding-top: 15px;
}

.grey-star{
    color: #F2F2F2;
    padding-top: 15px;
}

        /*--------------Hébergements à Marseille----------------*/

.hebergements_a_marseille{
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
   
}

.titre_hebergements_a_marseille{
    margin-bottom: 20px;
}

.element_hebergements_a_marseille{
    height: 300px;
    border-radius: 35px;
    border: 7px solid white;
    background: white;
    margin: 15px 0px;
    box-shadow: 0px 15px 15px #f2f2f2;
        
}                           

.photo_element_hebergements_a_marseille{
    border-radius: 30px 30px 0px 0px;
    max-height: 60%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description_hebergements_a_marseille{
    
    padding: 7px 0px 0px 20px;
}

.all_stars_hebergements{
    display: flex;
    font-size: 18px;
}

.afficher_plus{
    margin: 40px 0px 0px 0px;
}


/*------------Activités à Marseille----------------*/

.activites_a_marseille{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 60px 30px;
}

.titre_activites_a_marseille{
    margin-bottom: 20px;
}

.element_activites_a_marseille{
    border-radius: 35px;
    background: white;
    box-shadow: 6px 10px 15px #f2f2f2;
    margin: 15px 0px;
    height: 300px;
}

.photo_element_activites_a_marseille{
    border-radius: 35px 35px 0px 0px;
    height: 210px;
    width: 100%;
    object-fit: cover;
}    

.description_activites_a_marseille{
    padding: 25px 0px 0px 25px;
}

            /*--------- Pied de la page Footer -----------*/

            
Footer{
    background-color: #F2F2F2;
    padding: 70px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

footer p{
    font-size: 20px;
}

footer li{
    margin-bottom: 10px;
}

.a_propos{
    width: auto;
    margin-bottom: 50px;
}

.nos_hebergements{
    width: auto;
    margin-bottom: 50px;    
}

.assistance{
    width: auto;
    margin-bottom: 50px;
}
/* on va travailler sur le responsive*/

@media screen and (min-width: 576px) and (max-width: 768px){


}
@media screen and (min-width: 768px) and (max-width: 992px){

    
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    h1{
        font-size: 16px;
    }
    
    h2{
        font-size: 18px;
    }
    
    h3{
        font-size: 12px;
        font-family: 'Raleway Bold';
    }
    
    h4{
        font-family: 'Raleway Bold';
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    main h1{
        margin: 16px 0px 5px 0px;
    }
    main p{
        font-size: 12px;
    }
            
    .les_plus_populaires p{
        font-size: 10px;
    }
    
        /* -----l'entête de la page  Header----*/

    header ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-size: 12px;
        padding-top: 10px;
        margin: 0px 30px 0px 30px;
    }

    #logo{
        position:absolute;
        left: 30px;
        top: 24px;
        width: 74px;
        padding: 0px 0px 0px 0px;
    }

    .activites {
        width: auto;
    }

    #sinscrire{
        width: auto;
        order: 3;
        font-size: 12px;
    }
    .hebergements{
        width: auto;
    }
    #sinscrire, .activites, .hebergements{
        display: flex;
        align-items: center;
        padding: 30px 20px 20px 20px;
        border-top: 3px solid #F2F2F2;
        border-bottom: none;
        }
    .activites, .hebergements{
        margin: 0px 0px 0px 0px;
    }

                 /*--------- main : le corp de la page-------------*/



      /*barre de recherche----search bar*/


    main article {
        padding-left: 30px;
        }
    .search {
        width: 300px;
        display: flex;
        padding: 10px 0px;
    }
    .searchTerm {
        font-size: 14px;
        }
    .positionButton {
        min-width: 40px;
        height: 40px;
        border-radius: 10px 0px 0px 10px;
        font-size: 14px;
    }  

    .searchButton .fa-search {
        display:none;
    }

    .searchButton{
        min-width: 100px;
        height: 40px;
        border-radius: 0px 10px 10px 0px;
        
    }
    .searchButton span{
        display: block;
        font-family: 'Raleway Bold';
        font-size: 12px;
        
    }
    
 /*-----les filtres de recherche-----*/
    .circle-icon {
        font-size: 14px;
        height: 37px;
        min-width: 37px;
        position: absolute;
        top: -3px;
        transition: none  ;
    }

    .circle-icon:active, .circle-icon:hover{
        box-shadow: 0px 0px 10px #0065FC;

        transform: none;
    }

      
    .filtres {
        width: auto;
        height: 38px;
        border: 3px #F2F2F2 solid;
        margin: 0px 5px 0px 20px;
    }   
    main .nav_filtres{
        margin: 10px 0px 16px 10px;
        display: flex;
        justify-content: normal;    
    }
    
    .bloc_filtres, main .nav_filtres{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .bloc_filtres span {
        padding: 0px 20px 0px 40px;
        font-size: 13px;
    }    

    .circle-info{
        font-size: 8px;
        border: 2px solid #F2F2F2;
        height: 20px;
        min-width: 20px;
        margin-right: 8px;
    }
            /*------les résultats de recherche---*/

        /*-----------Hébergements à Marseille--&--les plus populaires-------------*/
                       /*-----------Section 1--&--Section 2----------*/

    .populairesEThebergements{
        width: 800px;
        display: flex;
        
    }

    .les_plus_populaires{
        width: 300px;
        padding: 10px 10px 10px 20px;
        border-radius: 15px;
        margin: 0px;
    }

    .lespluspopulaires_arrow{
        width: 250px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .element_les_plus_populaires{
        height: 110px;
        width: 250px;
        border-radius: 15px;
        border: 3px solid white;
        margin: 0px 0px 20px 0px;
    }
    .photo_element_les_plus_populaires{
        border-radius: 12px 0px 0px 12px;
    }
    .description_les_plus_populaires{
        padding: 10px 10px 10px 20px;
    }     
    .all_stars{
        font-size: 8px;
        position: absolute;
        bottom: 10px;
    }

    
    .hebergements_a_marseille{
        width: 630px;
        background-color: #F2F2F2;
        border-radius: 15px;
        padding: 20px 0px 30px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #titre_hebergements_a_marseille{
        margin-bottom: 0px;
        margin: 0px 0px 15px 0px;
        width: 100%;
        font-size: 14px;
    }

    .element_hebergements_a_marseille{
        height: 150px;
        width: 180px;
        border-radius: 15px;
        border: 3px solid white;
        margin: 0px 15px 15px 0px;
    }

    .photo_element_hebergements_a_marseille{
        border-radius: 15px 15px 0px 0px;
    }

    .description_hebergements_a_marseille{
        padding: 2px 0px 0px 8px;
    }

    .hebergements_a_marseille p{
        font-size: 10px;
        padding-bottom: 0px;
    }
    
    .all_stars_hebergements{
        display: flex;
        font-size: 8px;
    }
    .blue-star {
        padding-top: 0px;
    }
    
    .afficher_plus{
        width: 100%;
        margin: 10px 0px 0px 0px;
    }
    
@media screen and (min-width: 1200px) {

    
} 

