@font-face{
    font-family: Raleway;
    src: url('police/raleway.Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'raleway', sans-serif;
    margin: 0px;
    color: black;
}

#bloc_page{
    padding: 10px;
}

h1{
    font-size: 20px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}
h4{
    font-size: 10px;
}

main p{
    font-size: 15px;
}


/* l'entête de la page*/

header {
    
    display:block;
    flex-wrap: wrap;
    padding: 20px;
}

#logo {
    width: 97px;
    height: 45px;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: center;
}

header nav li{
    list-style: none;
    font-weight: bold;
    font-size: 12px;
}

.sinscrire {
    width: calc(100% - 97px);
    border: 1px solid pink;
    text-align: right;
    font-weight: bold;     /*ca marche pas*/  
}


header nav .hebergements,
header nav .activites {
    width: 50%;
    text-align: center;
}

header nav a {
	text-decoration: none;
	color:  #0065FC;
    padding-bottom: 15px;
	font-family: 'raleway bold', Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
 }

header nav .hebergements:hover,
header nav .activites:hover {
	border-bottom: 3px solid #0065FC;
	color: black;
}

header nav .hebergements:focus,
header nav .activites:focus{
    color: grey;
}




                    /* main : le corp de la page*/



/*barre de recherche*/

main article{
    padding: 0px 20px;
}

.search {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 30px 0px;
}
  
.searchTerm {
    width: 380px;
    border: 1px solid #F2F2F2;
    border-left: none;
    padding: 0px 0px 0px 10px;
    height: 50px;
    border-radius: 0;
    font-size: 20px;
}
  
.searchTerm:focus{
    color: #DEEBFF;
}
  
.searchButton {
    width: 50px;
    height: 50px;
    
    border: 1px solid #0065FC;
    background: #0065FC;
    text-align: center;
    color: white;
    border-radius: 15px;
    font-size: 20px;
}

.positionButton {
    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    text-align: center;
    color: black;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    font-size: 15px;
}
  
  /*les filtres de recherche*/

.circle-icon {
    color: #0065FC;
    background: #DEEBFF;
    padding: 10px;
    border-radius: 100%;
    height: 100%;
}


.filtres{
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-radius: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0px;
}


.nav_filtres{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 10px 0px 20px 0px;     
}


nav li{
    margin-bottom: 10px;
}

span{
    padding: 5px 10px 5px 5px;
    font-weight:bold;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
}

 /*les résultats de recherche*/

        /*les plus populaires*/

.les_plus_populaires{
    background-color: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 40px 20px 30px 20px;

    display: flex;
    flex-direction: column;
}


.element_les_plus_populaires{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    margin: 10px 0px 0px 0px ;
}
 

.photo_element_les_plus_populaires{
    border-radius: 20px 0px 0px 20px;
    border: 5px white solid;
    width: 40%;
    max-block-size: 200px;
    object-fit: cover;
}
  

.description_les_plus_populaires{
    border-radius: 0px 20px 20px 0px;
    background: white;
    padding: 15px;
    width: 60%;
    word-wrap: break-word;
}   


.blue-star{
    color: #0065FC;
    padding-top: 5px;
}

.grey-star{
    color: #F2F2F2;
    padding-top: 5px;
}

       